@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --green-color: #0BB73B;
    --red-color: #F36565;
    --blue-color: #659EF3;
    --gray-color: #393939;
    --gray-light-color: #CFCFCF;
}

* {
    font-family: 'Inter', sans-serif;
}