@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --green-color: #0BB73B;
    --red-color: #F36565;
    --blue-color: #659EF3;
    --gray-color: #393939;
    --gray-light-color: #CFCFCF;
}

* {
    font-family: 'Inter', sans-serif;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #595959 #F8F8F8;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 5px;
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #F8F8F8;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #E2E2E2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #C2C2C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #595959;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #595959;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #595959;
  }
  